/* css 순서는 element plus 관련이 위쪽으로, 같은 레벨에선 실제 page에 위치하는 순서대로 */
/*z-index 기준 : 백그라운드 설정안함, 사이드바 50 헤더 100 반응형변화 150 팝업 200 기타 500*/

@import "https://unpkg.com/element-plus/lib/theme-chalk/index.css";


.space {
  height: 60px;
  width: 100%;
}
.el-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* border: solid; */
  background: white;
  opacity: 0.9;
}
.el-aside {
  position: fixed;
  top: 70px;
  left: 0;
  width: 120px;
  height: 100%;
  /* border: solid; */
  background: whitesmoke;
}
.el-main {
  width: 100% - 100px;
  /* margin-left: 100px; */
  background-color: #e8eef3;
  color: #333;
  text-align: center;
}

body > .el-container {
  margin-bottom: 40px;
}
.el-footer {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  width: 100%;
}

.el-message{
  position: absolute;
  top: 300px;
  z-index: 500;
 }

 .el-menu-item{
  cursor: pointer;
  margin-left: 0px;
  background: whitesmoke;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s;
}
.el-menu-item:hover {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
  z-index: 200;
}

.el-card {
  margin: 0 8px;
  margin-bottom: 20px;
}
.el-card .image-wrapper {
  width: 100%;
  height: 160px;
}
.el-card .title-wrapper {
  text-align: left;
  padding: 14px;
}
.el-card .title-wrapper .accessable{
  background: green;
  color: white;
}
.el-card .title-wrapper .full{
  background: blue;
  color: white;
}
.el-card .title-wrapper .playing{
  background: tomato;
  color: white;
}
.el-card .title-wrapper .empty{
  background: gray;
  color: white;
}
.el-card .title-wrapper .title {
  font-weight: bold;
}
.el-card .bottom {
  margin-top: 5px;
  display:-webkit-box;
  word-wrap:break-word;
  -webkit-box-orient:vertical;
  overflow:hidden;
  text-overflow:ellipsis;
}

 .game-header {
   padding: 10px 20px;
   border-bottom: 2px solid lightgray;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   z-index: 100;
 }

 .logo {
  float: left;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s;
}
.logo:hover {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
  z-index: 200;
}
.nav {
  float: right;
  list-style: none;
  margin-right: 5px;
}
.nav li {
  float: left;
  margin: 5px;
}

.main-header {
  padding: 10px 20px;
  border-bottom: 2px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.main-logo,
.button-wrapper {
  display: inline;
}

 .game-header .basic-info {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .gameroom-desc {
   padding: 0px 15px;
 }
 .game-status {
   margin-right: 10px;
 }

 .game-info {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);

   width: 30%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* padding: 6px 0px; */
   text-align: center;
   border-radius: 6px;
   font-size: 20px;
   background-color: #e8eef3;
 }

 .job-info {
   position: absolute;
   left: 20%;
   transform: translateX(-50%);

   width: 15%;
   display: flex;
   text-align: center;
   border-radius: 6px;
   font-size: 15px;
   background-color: #e8eef3;
 }

 .danger{
   color: red;
   font-weight: bold;
 }

 .user-tag{
   min-width: 30px;
   max-width: 30%;
   display: inline-block;
   cursor: pointer;
   margin: 5px;
 }

 #img-profile{
  margin: 5%;
}
.info{
  width: 60%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 5%;
  text-align: left;
  background: whitesmoke;
}
.info .sub-title{
  margin: 5%;
  font-weight: bold;
  text-decoration: gray;
}
.info .info-item .friend-list .friend-list-item{
  display: inline-block;
  text-align: center;
  min-width: 150px;
  width: 20%;
  margin-bottom: 15px;
}
.info .info-item{
  background: whitesmoke;
  text-align: left;
}
.anchor{
  position: fixed;
  top: 150px;
	right: 20px;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background: lightgray;
  opacity: 0.8;
}
.anchor .anchor-item{
  height: 20%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  line-height: 40px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
.anchor .anchor-item:nth-child(even){
  background: whitesmoke;
}
.board-text{
  margin-left: 15%;
  width: 70%;
  margin-right: 15%;
}
.board-text .context-text{
  text-align: left;
  margin: 5%;
  padding: 5%;
  background: white;
  min-height: 500px;
}
